@media (max-width: 500px) {
  .teachingContainer {
    flex-direction: column;
  }
}

.dark {
  background-color: #121212; /* Example background color */
  color: #ffffff; /* Example text color */
}

.welcomeText {
  font-size: 12rem;
  font-weight: 700;
  color: rgb(214, 203, 151);
}

.subText {
  font-size: 4rem;
  font-weight: 800;
}
