@media (max-width: 500px) {
  .teachingContainer {
    flex-direction: column;
  }
}

.dark {
  background-color: #121212; /* Example background color */
  color: #ffffff; /* Example text color */
}

.welcomeText {
  position: relative;
  top: 5rem;
  font-size: 12rem;
  font-weight: 700;
  color: rgb(226, 185, 0);
}

.subText {
  font-size: 4rem;
  font-weight: 800;
}
