@tailwind base;
@tailwind components;
@tailwind utilities;

.ministerCard:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: px 1fr;
}

header {
  grid-area: 1 / 1 / 3 / 2;
}

main {
 grid-area: 2 / 1 / 3 / 3;}

footer {
grid-area: 3 / 1 / 4 / 3;}
