
@tailwind base;
@tailwind components;
@tailwind utilities;

.ministerCard:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}


#root {
  display: grid;
grid-template-areas:
    "header header"
    "menu content"
    "footer footer";}

header {

}

