
@tailwind base;
@tailwind components;
@tailwind utilities;

.ministerCard:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}


#root {
  display: grid;
grid-template-areas:
    1fr / 1fr
    
    
    }

header {
grid-area: header;
}

main {
  grid-area: mainContent;
}

footer {
  grid-area: footer;
}

