@tailwind base;
@tailwind components;
@tailwind utilities;

.ministerCard:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100vw;
}

header {
  grid-area: 1 / 2 / 3 / 4;
}

main {
  grid-area: mainContent;
}

footer {
  grid-area: footer;
}
