@tailwind base;
@tailwind components;
@tailwind utilities;

.ministerCard:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

#root {
  display: grid;
  grid-template-columns: 300px 76.8vw;
  grid-template-rows: 100vw;
}

header {
  grid-area: header;
}

main {
  grid-area: mainContent;
}

footer {
  grid-area: footer;
}
